*{
  margin: 0;
  padding:0;
  box-sizing:border-box
}

.navbar{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "logo links cta";
  justify-items: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  


}

.nav-links{
  grid-area: links;
  display:flex;
  justify-content: center;
  gap: 2rem;
}


.cta-desktop{
  grid-area: cta;
  justify-self: end;
  background:#007bff;
  padding: 0.5rem 1rem;
  color:#f8f9fa;
  border: none;
  border-radius: 4px;
}

.hamburger{
  display: none;
}

.mobile-menu{
  display:none;
}

@media (max-width:768px){

  .navbar{
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo hamburger";
  }

  .nav-links, .cta-desktop{
    display: none;
  }

  .cta{
    
    justify-self: end;
    background:#007bff;
    padding: 0.5rem 1rem;
    color:#f8f9fa;
    border: none;
    border-radius: 4px;
  }

  .hamburger{
    grid-area:hamburger;
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  .mobile-menu{
    display: none;
    flex-direction: column;
    background: #f8f9fa;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
  }

  .mobile-menu.active{
    display:flex;
  }

  .mobile-menu {
    transition: all 0.3s ease;
  }

}